* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    padding: 200px;
}


#container {
    background-color:aqua;
    padding: 10px;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    align-content: space-between;
    height: 50vw;

    }

.item {

    height: 100%;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

#item-1 {
    background-color: orange;
    
}

#item-2 {
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    padding: 0;
    
}

#s-1{
    background-color: grey;
    width: 75%;
    height: auto;
    margin-right: 10px;
   
    
}

#s-2{
    background-color: yellow;
    width: 25%;
    height: auto;
 
   
}


#item-3 {
    background-color: green;
}

